@using LogMyWork.ViewModels.Tasks
@using LogMyWork.Models
@model TaskCreate

@{
    ViewBag.Title = "Create";
    int usersCounter = 0;
}
@section Styles{
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}
<h2>Create</h2>


@using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProjectTask</h4>
        <hr />

        @if(Model.TaskID != 0)
        {
            @Html.HiddenFor(model => model.TaskID)
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.DropDownList("ParentProjectID", new SelectList(Model.SelectableProjects, "Key", "Value", Model.ParentProjectID), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 10, 40, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class='input-group date' id='Deadline'>
                    <input type='text' name="Deadline" class="form-control" value="@Model.Deadline">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div id="Users">
            @for (usersCounter = 0; usersCounter < Model.Users.Count(); usersCounter++)
            {
            <div class="form-group">
                @Html.LabelFor(model => model.Users[usersCounter].Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Users[usersCounter].Id, new SelectList(Model.SelectableUsers, "Key", "Value", Model.Users[usersCounter].Id), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Users[usersCounter].Email, "", new { @class = "text-danger" })
                </div>
            </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Users[0].Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Users[usersCounter].Id, new SelectList(Model.SelectableUsers, "Key", "Value", null), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Users[usersCounter].Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @if(Model.TaskID != 0)
        {
            //foreach(var val in Model.Attachments)
            //{

            //}
        }

        <div class="form-group">
            @Html.Label("Attachment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                <input type="file" class="form-control" id="Files_0" name="Files[0]" />
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/Tasks/Create.js")
    @Scripts.Render("~/Scripts/Common/RepeatableControl.js")
    @Scripts.Render("~/Scripts/Common/Ajax.js")
}
