@using LogMyWork.Models
@model ProjectTask
@{
    // tag for javascript to insert
    string temp = (
    "<dt>" +
    "TASK_NAME" +
    "</dt>" + "<dd>" +
    Html.Label("Track", new { onClick = "createTimeEntry($(this))", taskId = "TASK_ID" }).ToString() + " | " +
    Html.ActionLink("Edit", "Edit", "Tasks", new { id = "TASK_ID" }, null).ToString() + " | " +
    Html.ActionLink("Details", "Details", "Tasks", new { id = "TASK_ID" }, null).ToString() + " | " +
    Html.ActionLink("Delete", "Delete", "Tasks", new { id = "TASK_ID" }, null).ToString() + "</dd>"
).Replace("\"", "'");
}

<script>
    var taskNodeTemplate = "@Html.Raw(temp)";

</script>
@using (Ajax.BeginForm("Create", "Tasks", new AjaxOptions{OnSuccess = "createTask"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Users[0].Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Users[0].Id, new SelectList((List<ProjectRole>)this.ViewData["ProjectUsers"], "User.Id", "User.Email"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Users[0].Id, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Hidden("ParentProjectID", (int)this.ViewData["ProjectId"])
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="AddTaskBtn" value="Add" type="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}