@using LogMyWork.Models
@using LogMyWork.Consts
@using LogMyWork.ViewModels.Tasks
@*@model List<ProjectTask>*@
@model TaskIndex


@{
    TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
    //Role currentProjectRole = (Role)this.ViewData[ViewDataKeys.CurrentProjectRole];
}
<table class="table" id="TaskTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTasks.FirstOrDefault().Name)
        </th>
        <th></th>
    </tr>
    @foreach (var task in Model.AssignedTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => task.Name)
            </td>
            <td>
                @Html.Label(timeEntry != null && timeEntry.ParentTaskID == task.TaskID ? "Stop" : "Track", new { onClick = "createTimeEntry($(this))", taskId = task.TaskID }) |
                @Html.ActionLink("Details", "Details", "Tasks", new { id = task.TaskID }, null) 

                @if(task.Status == TaskStatus.InProgress || task.Status == TaskStatus.CurrentlyInProgress )
                {
                    @(" | ")
                    @Html.Label("Submit for feedback", new { taskID = task.TaskID, status = TaskStatus.AwaitingFeedback })
                }

            </td>
        </tr>
    }
</table>

@if (Model.OwnedTasks?.Count() > 0)
{
    <h3>Owned tasks</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.OwnedTasks.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.OwnedTasks.FirstOrDefault().Status)</th>
            <th></th>
        </tr>
    @foreach (var item in Model.OwnedTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Tasks", new { id = item.TaskID }, null) |
                @Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.TaskID }, null) |
                @Html.ActionLink("Delete", "Delete", "Tasks", new { id = item.TaskID }, null)
                @if (item.Status == TaskStatus.AwaitingFeedback)
                {
                    @(" | ")
                    @Html.Label("Close", new { taskID = item.TaskID, status = TaskStatus.Finished })
                    @(" | ")
                    @Html.Label("Reopen", new { taskID = item.TaskID, status = TaskStatus.Assigned })
                }
                
            </td>
        </tr>
        
    }
    </table>
}