@using LogMyWork.Models
@using Commons.Time;
@model List<TimeEntry>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentTask.ParentProject.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentTask.Name)
        </td>
        <td adjustment="timezone" timestamp="@item.Start.ToUnixTimestamp()">
        </td> 
        <td adjustment="timezone" timestamp="@item.End.Value.ToUnixTimestamp()">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
    </tr>
}
<tr>
    <td>Sum</td>
    <td></td>
    <td></td>
    <td></td>
    <td>@TimeSpan.FromSeconds(Model.Sum( e => e.Duration.Value.TotalSeconds)).ToString(@"hh\:mm\:ss")</td>
    <td></td>
</tr>