@using LogMyWork.ViewModels.TimeEntries
@using Commons.Time;
@model TimeEntriesTable
@foreach (var item in Model.TimeEntries)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentTask.ParentProject.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentTask.Name)
        </td>
        <td adjustment="timezone" timestamp="@item.Start.ToUnixTimestamp()"></td>
        <td adjustment="timezone" timestamp="@item.End?.Value.ToUnixTimestamp()"></td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
    </tr>
}
<tr>
    <td>Sum</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>@Model.Sum.ToString(@"hh\:mm\:ss")</td>
    <td></td>

</tr>
<tr>
    <td>Total earned</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>@Model.TotalEarned.ToString("F2")</td>
    <td></td>
</tr>