@using LogMyWork.Consts;
@using LogMyWork.Models;
@model LogMyWork.Models.Project

@Styles.Render("~/Content/Projects.css")

@{
    ViewBag.Title = "Details";
}
@{
    TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
}

<script>
    isTracking = @((Session[SessionKeys.CurrentTimeEntry] != null).ToString().ToLower());
</script>

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <h5>Tasks</h5>
        @foreach (var task in Model.Tasks)
            {
            <dt>
                @Html.DisplayFor(tmp => task.Name)
            </dt>
            <dd>
                @Html.Label(timeEntry != null && timeEntry.ParentTaskID == task.TaskID ? "Stop" : "Track", new { onClick = "createTimeEntry($(this))", taskId = task.TaskID }) |
                @Html.ActionLink("Edit", "Edit", "Tasks", new { id = task.TaskID }, null) |
                @Html.ActionLink("Details", "Details", "Tasks", new { id = task.TaskID }, null) |
                @Html.ActionLink("Delete", "Delete", "Tasks", new { id = task.TaskID }, null)
            </dd>
        }
        <div id="AddTaskPnl" class="panel panel-default hidden">
            @Html.Partial("~/Views/Partials/Add.cshtml", new ViewDataDictionary() { { "ProjectId", Model.ProjectID }, { "ProjectUsers", Model.Roles } })
        </div>
        <div class="btn btn-default" id="ShowTaskPanelBtn">Add Task</div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    @Scripts.Render("~/Scripts/Tracker.js")
    @Scripts.Render("~/Scripts/Projects.js")
    @Scripts.Render("~/Scripts/Tasks.js")
}

