@using LogMyWork.Consts
@using LogMyWork.Models
@using LogMyWork.ViewModels.Projects
@using LogMyWork.ViewModels.Tasks
@model ProjectDetails

@Styles.Render("~/Content/Projects.css")

@{
    ViewBag.Title = "Details";
}
@{
    TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
}

<script>
    isTracking = @((Session[SessionKeys.CurrentTimeEntry] != null).ToString().ToLower());
</script>

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <h5>Tasks</h5>
        @Html.Partial("~/Views/Partials/TaskList.cshtml", Model.CurrentProjectRole)
        <div id="AddTaskPnl" class="panel panel-default hidden">
            @Html.Partial("~/Views/Partials/AddTask.cshtml", new TaskAdd() { ParentProjectID = Model.Project.ProjectID, Roles = Model.Project.Roles })
        </div>
        <div class="btn btn-default" id="ShowTaskPanelBtn">Add Task</div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    @Scripts.Render("~/Scripts/Projects.js")
    @Scripts.Render("~/Scripts/Tasks.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

