@using LogMyWork.Consts
@using LogMyWork.Models
@using LogMyWork.ViewModels.Projects
@using LogMyWork.ViewModels.Issues
@model ProjectDetails

@Styles.Render("~/Content/Projects.css")

@{
    ViewBag.Title = "Details";
}
@{
    TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
}

<script>
    isTracking = @((Session[SessionKeys.CurrentTimeEntry] != null).ToString().ToLower());
</script>

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <hr />
        <ul id="TabMenu" class="nav nav-pills">
            <li tabID="Users"><a>Project members</a></li>
            <li tabID="ProjectTasks"><a>Tasks in this project</a></li>
            <li tabID="AssignedTasks"><a>Tasks assigned to you</a></li>
            <li tabID="Issues"><a>Issues for this project</a></li>
        </ul>
        <div id="TabbedView">
            <div tabiD="Users">
                @foreach (var val in Model.Project.Roles)
            {
                    <dt>@val.User.Email</dt>
                }
            </div><br>

            <div tabID="ProjectTasks">
                @Html.Partial("~/Views/Partials/SimpleTaskList.cshtml", Model.Project.Tasks)
            </div>

            <div tabID="AssignedTasks">
                @Html.Partial("~/Views/Partials/TaskList.cshtml", Model.Tasks)
            </div>

            <div id="Issues" tabID="Issues">
                @Html.Partial("~/Views/Partials/IssuesList.cshtml", new IssueList() { Role = Model.CurrentProjectRole.Role, Issues = Model.Project.Issues })
            </div>
        </div>
        @*<div id="AddTaskPnl" class="panel panel-default hidden">
                @Html.Partial("~/Views/Partials/AddTask.cshtml", new TaskAdd() { ParentProjectID = Model.Project.ProjectID, Roles = Model.Project.Roles })
            </div>*@
        @*<div class="btn btn-default" id="ShowTaskPanelBtn">Add Task</div>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
    @Scripts.Render("~/Scripts/Projects/Details.js")
    @Scripts.Render("~/Scripts/Projects/ProjectTasks.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/Common/TabbedView.js")
    @Scripts.Render("~/Scripts/Common/StatusUpdater.js")
    @Scripts.Render("~/Scripts/Issues/IssuesList.js")
}

