@using LogMyWork.Consts;
@model LogMyWork.Models.Project

@{
    ViewBag.Title = "Details";
}
@{ 
    string ButtonText = Session[SessionKeys.CurrentTimeEntry] == null ? "Track" : "Stop";
}

<script>
    isTracking = @((Session[SessionKeys.CurrentTimeEntry] != null).ToString().ToLower());
</script>
<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <h5>Tasks</h5>
        @foreach(var task in Model.Tasks)
        {
            <dt>
                @Html.DisplayNameFor(tmp => task.Name)
            </dt>
            <dd>
                @Html.DisplayFor(tmp => task.Name)
                @Html.Label(ButtonText, new { onClick = "createTimeEntry($(this))", taskId = task.TaskID }) |
                @Html.ActionLink("Edit", "Edit", "Tasks", new { id = task.TaskID }, null) |
                @Html.ActionLink("Details", "Details", "Tasks", new { id = task.TaskID }, null) |
                @Html.ActionLink("Delete", "Delete", "Tasks", new { id = task.TaskID }, null) |
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/Scripts/Tracker.js")
