@using LogMyWork.Models
@using LogMyWork.Consts
@model List<ProjectRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("~/Views/Partials/ProjectsList.cshtml", Model)
@Html.ActionLink("Archive", "Archive")
@section Scripts{
    @Scripts.Render("~/Scripts/Projects/Index.js")
    @Scripts.Render("~/Scripts/Common/Ajax.js")
     }