@using LogMyWork.Consts
@using LogMyWork.ViewModels.Projects
@model ProjectUsers

@{
    ViewBag.Title = "Users";
}

<h2>@Model.ProjectName</h2>
@if (Model.CurrentUserRole.Role <= Role.Manager)
{
    @Html.ActionLink("Add User", "Create", "ProjectRoles", new { id = Model.ProjectID }, null)
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @if (Model.CurrentUserRole.Role <= Role.Manager)
                {
                    if (item.Role != Role.Owner)
                    {
                        @Html.ActionLink("Delete", "Delete", "ProjectRoles", new { Id = item.ProjectRoleID }, null)
                    }
                }
            </td>

        </tr>
    }

</table>
