@using LogMyWork.Models
@using LogMyWork.Consts
@using Commons
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LogMyWork</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if(Session[SessionKeys.CurrentTimeEntry] != null){
        @Html.Hidden("currentTask", ((TimeEntry) Session[SessionKeys.CurrentTimeEntry]).Start.ToUnixTimestamp())
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LogMyWork", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                        <li>@Html.ActionLink("My Rates", "Index", "Rates")</li>
                        <li>@Html.ActionLink("My logs", "Index", "TimeEntries")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LogMyWork</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Shared.js")


    @*@Scripts.Render("~/Scripts/jquery-1.10.2.js")*@
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
    @*@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")*@


    @RenderSection("scripts", required: false)
</body>
</html>
