@using LogMyWork.ViewModels.TimeEntries
@model TimeEntryIndex

@{
    ViewBag.Title = "View";
}
@section Styles{
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
}
<h2>View</h2>

<table class="table" id="TimeEntriesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].ParentTask.ParentProject.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].ParentTask.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntries[0].Active)
        </th>
        <th></th>
    </tr>

    @Html.Partial("~/Views/Partials/TimeEntriesResultsTable.cshtml", Model.TimeEntries)

</table>

<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepickerFrom'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepickerTo'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Projects[0].ProjectID, new SelectList(Model.Projects, "ProjectID", "Name", null), new { @class = "form-control" })
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Tasks[0].TaskID, new SelectList(Model.Tasks, "TaskID", "Name", null), new { @class = "form-control" })
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Users[0].Id, new SelectList(Model.Users, "Id", "Email", null), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/TimeEntries/TimeEntries.js")
}
